<footer id="footer">
<p> <a href="#top" target="_self">Back to Top</a>
<p> <a href="<{{site.url}}/index/" target="_self">Back to Index</a>

 <div class="space"></div>
  <div class="space"></div>
    <p><strong><a href="{{ site.author_link }}" target="_blank">{{ site.author }}</a></strong></p>
    <p class="legal">{{ site.author_description }}</p>
  <p>Level {% assign counter = 0 %}{% for item in site.posts %}{% unless item.published == false %}{%
    assign counter=counter | plus:1 %}{% endunless %}{% endfor %}{{ counter }} Red Mage</p>
    
</footer>