<header role="banner">

<div class="navbar">
  <a href="{{site.url}}/">Latest</a>
    <div class="dropdown">
      <button class="dropbtn">Posts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endfor %}
      </div>
    </div>
  <a href="{{site.url}}/gear/" class="subnav">Gear</a>
  <a href="{{site.url}}/tips/" class="subnav">Tips</a>
<div class="subnav"><a href="https://www.instagram.com/anhtice/">IG</a>
</div>
</div>


<div id="headerspace"></div>
  <a href="{{site.url}}/" id="" title="{{ site.title }}">
  <h1 id="spacey">Anh Truong</h1>
</a>
</div>
</header>