@import 'https://fonts.googleapis.com/css?family=Lobster';

/* Universal box-sizing as per https://css-tricks.com/box-sizing/ */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Universal box-sizing as per https://css-tricks.com/box-sizing/ */
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
  #spacey {
    color: #fff;
    font-size: 5em;
    font-family: 'Lobster', cursive;
    text-align: center;
    background: url("../img/space2.gif") no-repeat center;
    background-size: 8em;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: #000;
    -webkit-text-fill-color: transparent;
    padding: 20px;
  }

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-rendering: optimizeLegibility; /* Beware of performance issues in mobile - see https://css-tricks.com/almanac/properties/t/text-rendering/ */
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    &.is-offset {
        // margin-top: -195px;
    }
}

a {
    text-decoration: none;
    color: #E40;
}

.gear_li {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
}

.gear_header {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  text-decoration: underline;
}

.center {

      margin: auto;
      /* make em equal */
      text-align: center;
}


.gear {
  display: block;
  margin: auto;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

a {
  cursor: pointer;
}
.post-image img {
  cursor: pointer;
}


/* NAVBAR THINGS */
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightcoral;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.space {
  padding-top: 50px;
}